body{
background-color: white;
}

h1{
Font-family:lucida handwriting;
color:blue;
width: auto;
align-content: center;
    
}

h2{
font-family: lucida handwriting;   
}

p{font-family: Segoe Print; 
  font-size:18px;
  height: auto;
  width: 1200px; 
  text-align: left;
  font-weight: bolder;    
}


.chapter{    
Font-family:lucida handwriting; font-size:25px;}
	
.basic{
font-family: sans-serif;
font-size: 22px;
}

 a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
}
